<% if @answered %>
  alert('You already answered this question. Refresh page, please.')
<% else %>
  <% if resource.errors.present? %>
    var message = $('<span></span>').addClass('help-block').text("can't be blank");
    $('#message_body').parent().addClass('has-error').append(message);
  <% else %>
    $('#answers').html('<%= j render "topics/answers", answers: parent.answers,
                                     answers_count: parent.answers_count %>');
    $('#new_message').before('<%= j render "topics/answered", topic: parent.decorate %>')
    $('#new_message').remove()
  <% end %>
<% end %>
