var message = $('<%= "#message-#{@message.id}" %>');
<% if @comment.errors.present? %>
  var helpSpan = $('<span></span>').addClass('help-block').text("can't be blank");
  message.find('.form-group').addClass('has-error').append(helpSpan);
<% else %>
  message.find('.comments-list').html('<%= j render "topics/comments", comments: @message.comments %>');
  message.find('#comment_body').val('').parent().removeClass('has-error').find('.help-block').remove();
  message.find('.new_comment').hide();
  message.find('.add-comment').show();
<% end %>
